@model IEnumerable<LetPortal.CMS.Features.Blogs.Entities.Blog>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

    @{ 
        int i = 0;
    }
    @foreach(var blog in Model)
    {
        var blogUrl = "/blogs/" + blog.UrlPath;        
        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center @(i % 2 == 0 ? "bg-dark text-white" : "bg-light") overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5"><a href="@blogUrl">@blog.Title</a></h2>
                <p class="lead">@blog.Description</p>
            </div>
            <div class="@(i % 2 == 0 ? "bg-light" : "bg-dark") box-shadow mx-auto"
                 style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        i++;
    }
</div>
